:root {
  --primary-text-color: #000000;
  --secondary-text-color: #8c8c8c;
  --primary-white-color: #ffffff;
  --line-color: #ff001b;
  --button-activ-color: #ff6b08;
  --footer-background: #f7f7f7;
  --footer-text-color: #545454;
  --background-color: rgb(255, 245, 233);

  --time-function: cubic-bezier(0.4, 0, 0.2, 1);

  --card-gap: 16px;
  --scroll-width: 25px;
}

$mobile: 480px;
$tablet: 768px;
$desktop: 1280px;
