<header class="header container-header">
  <div class="container">
    <nav class="header__nav">
      <a href="./index.html" class="header__logo link header__logo-filmoteka">
        <svg class="header__logo-svg" width="24" height="24">
          <use href="./images/svg/symbol-defs.svg#icon-film-from-header"></use>
        </svg>
        <span class="header__logo-text">Filmoteka</span></a
      >
      <!--  -->
      <div class="header_nav-button-wrapper">
        <ul class="header__nav-list">
          <li class="header__nav-item">
            <button
              onclick="document.location='index.html'"
              class="header__nav-autoriz current afterhome"
              type="button"
              id="home"
            >
              Home
            </button>
          </li>
          <li class="header__nav-item">
            <button
              onclick="document.location='library.html'"
              class="header__nav-autoriz"
              type="button"
              id="library"
            >
              My library
            </button>
          </li>
          <!-- -->
          <li class="header__nav-item button-up">
            <button
              class="header__nav-autoriz visually-hidden"
              type="button"
              id="signup"
            >
              Sign up
            </button>
          </li>
          <li class="header__nav-item button-in">
            <button
              class="header__nav-autoriz visually-hidden"
              type="button"
              id="signin"
            >
              Sign in
            </button>
          </li>
        </ul>
        <div class="header__nav-button-out">
          <button
            class="header__nav-autoriz visually-hidden"
            type="button"
            id="signout"
          >
            <svg
              class="header__logo-svg user_icon"
              width="24"
              height="24"
              id="usericon"
            >
              <use href="./images/svg/symbol-defs.svg#icon-user-check"></use>
            </svg>
          </button>
        </div>
      </div>
    </nav>
    <!--  -->
    <form class="header__form" id="search-form">
      <div class="header__content">
        <input
          name="query"
          class="header__input"
          type="text"
          autocomplete="off"
          placeholder="Movie search"
        />
        <button type="submit" class="header__form-btn">
          <svg class="header__form-icon" width="18" height="18">
            <use href="./images/svg/symbol-defs.svg#icon-lupa-for-input"></use>
          </svg>
        </button>
      </div>
    </form>
    <!-- ====switch======= -->
    <div class="switch">
      <button id="toggle-theme-btn" class="toggle-theme-btn">
        <svg width="28px" height="28px">
          <use
            class="moon visually-hidden"
            id="toggle-theme-image-moon"
            href="./images/svg/symbol-defs.svg#moon"
          ></use>
          <use
            class="sun"
            id="toggle-theme-image-sun"
            href="./images/svg/symbol-defs.svg#sun"
          ></use>
        </svg>
        <span class="visually-hidden">theme</span>
      </button>
    </div>

    <!--  -->
    <p class="failure-message visually-hidden">
      Search result not successful (: Enter the correct movie name
    </p>
  </div>
  <!-- <span class="loader"></span> -->
</header>
