<section class="filmoteka container">
  <h1 class="visually-hidden">Filmoteka</h1>
  <div class="gallery">
    <!-- <div class="gallery-poster-box">
      <div class="gallery-poster">
        <picture>
          <source
            srcset="
              ./images/filmoteka/desktop/film-1d-1x.webp 1x,
              ./images/filmoteka/desktop/film-1d-2x.webp 2x
            "
            media="(min-width: 1200px)"
            type="image/webp"
          />
          <source
            srcset="
              ./images/filmoteka/desktop/film-1d-1x.jpg 1x,
              ./images/filmoteka/desktop/film-1d-2x.jpg 2x
            "
            media="(min-width: 1200px)"
          />
          <source
            srcset="
              ./images/filmoteka/tablet/film-1t-1x.webp 1x,
              ./images/filmoteka/tablet/film-1t-2x.webp 2x
            "
            media="(min-width: 768px)"
            type="image/webp"
          />
          <source
            srcset="
              ./images/filmoteka/tablet/film-1t-1x.jpg 1x,
              ./images/filmoteka/tablet/film-1t-2x.jpg 2x
            "
            media="(min-width: 768px)"
          />
          <source
            srcset="
              ./images/filmoteka/mobile/film-1m-1x.webp 1x,
              ./images/filmoteka/mobile/film-1m-2x.webp 2x
            "
            media="(max-width: 767px)"
            type="image/webp"
          />
          <source
            srcset="
              ./images/filmoteka/mobile/film-1m-1x.jpg 1x,
              ./images/filmoteka/mobile/film-1m-2x.jpg 2x
            "
            media="(max-width: 767px)"
          />

          <img
            class="gallery-poster-img"
            src="./images/filmoteka/mobile/film-1m-1x.jpg"
            alt="movie poster"
            loading="lazy"
          />
        </picture>
      </div>
      <h2 class="gallery-poster-title">GREYHOUND</h2>
      <p class="gallery-poster-text">
        Drama, Action<span class="date-befor">2020</span>
      </p>
    </div>

    <div class="gallery-poster-box">
      <div class="gallery-poster">
        <picture>
          <source
            srcset="
              ./images/filmoteka/desktop/film-2d-1x.webp 1x,
              ./images/filmoteka/desktop/film-2d-2x.webp 2x
            "
            media="(min-width: 1200px)"
            type="image/webp"
          />
          <source
            srcset="
              ./images/filmoteka/desktop/film-2d-1x.jpg 1x,
              ./images/filmoteka/desktop/film-2d-2x.jpg 2x
            "
            media="(min-width: 1200px)"
          />
          <source
            srcset="
              ./images/filmoteka/tablet/film-2t-1x.webp 1x,
              ./images/filmoteka/tablet/film-2t-2x.webp 2x
            "
            media="(min-width: 768px)"
            type="image/webp"
          />
          <source
            srcset="
              ./images/filmoteka/tablet/film-2t-1x.jpg 1x,
              ./images/filmoteka/tablet/film-2t-2x.jpg 2x
            "
            media="(min-width: 768px)"
          />
          <source
            srcset="
              ./images/filmoteka/mobile/film-2m-1x.webp 1x,
              ./images/filmoteka/mobile/film-2m-2x.webp 2x
            "
            media="(max-width: 767px)"
            type="image/webp"
          />
          <source
            srcset="
              ./images/filmoteka/mobile/film-2m-1x.jpg 1x,
              ./images/filmoteka/mobile/film-2m-2x.jpg 2x
            "
            media="(max-width: 767px)"
          />

          <img
            class="gallery-poster-img"
            src="./images/filmoteka/mobile/film-2m-1x.jpg"
            alt="movie poster"
            loading="lazy"
          />
        </picture>
      </div>
      <h2 class="gallery-poster-title">MONSTER HUNTER</h2>
      <p class="gallery-poster-text">
        Drama, Action<span class="date-befor">2020</span>
      </p>
    </div>

    <div class="gallery-poster-box">
      <div class="gallery-poster">
        <picture>
          <source
            srcset="
              ./images/filmoteka/desktop/film-3d-1x.webp 1x,
              ./images/filmoteka/desktop/film-3d-2x.webp 2x
            "
            media="(min-width: 1200px)"
            type="image/webp"
          />
          <source
            srcset="
              ./images/filmoteka/desktop/film-3d-1x.jpg 1x,
              ./images/filmoteka/desktop/film-3d-2x.jpg 2x
            "
            media="(min-width: 1200px)"
          />
          <source
            srcset="
              ./images/filmoteka/tablet/film-3t-1x.webp 1x,
              ./images/filmoteka/tablet/film-3t-2x.webp 2x
            "
            media="(min-width: 768px)"
            type="image/webp"
          />
          <source
            srcset="
              ./images/filmoteka/tablet/film-3t-1x.jpg 1x,
              ./images/filmoteka/tablet/film-3t-2x.jpg 2x
            "
            media="(min-width: 768px)"
          />
          <source
            srcset="
              ./images/filmoteka/mobile/film-3m-1x.webp 1x,
              ./images/filmoteka/mobile/film-3m-2x.webp 2x
            "
            media="(max-width: 767px)"
            type="image/webp"
          />
          <source
            srcset="
              ./images/filmoteka/mobile/film-3m-1x.jpg 1x,
              ./images/filmoteka/mobile/film-3m-2x.jpg 2x
            "
            media="(max-width: 767px)"
          />

          <img
            class="gallery-poster-img"
            src="./images/filmoteka/mobile/film-3m-1x.jpg"
            alt="movie poster"
            loading="lazy"
          />
        </picture>
      </div>
      <h2 class="gallery-poster-title">ONCE UPON A TIME... IN HOLLYWOOD</h2>
      <p class="gallery-poster-text">
        Drama, Comedy<span class="date-befor">2019</span>
      </p>
    </div>

    <div class="gallery-poster-box">
      <div class="gallery-poster">
        <picture>
          <source
            srcset="
              ./images/filmoteka/desktop/film-4d-1x.webp 1x,
              ./images/filmoteka/desktop/film-4d-2x.webp 2x
            "
            media="(min-width: 1200px)"
            type="image/webp"
          />
          <source
            srcset="
              ./images/filmoteka/desktop/film-4d-1x.jpg 1x,
              ./images/filmoteka/desktop/film-4d-2x.jpg 2x
            "
            media="(min-width: 1200px)"
          />
          <source
            srcset="
              ./images/filmoteka/tablet/film-4t-1x.webp 1x,
              ./images/filmoteka/tablet/film-4t-2x.webp 2x
            "
            media="(min-width: 768px)"
            type="image/webp"
          />
          <source
            srcset="
              ./images/filmoteka/tablet/film-4t-1x.jpg 1x,
              ./images/filmoteka/tablet/film-4t-2x.jpg 2x
            "
            media="(min-width: 768px)"
          />
          <source
            srcset="
              ./images/filmoteka/mobile/film-4m-1x.webp 1x,
              ./images/filmoteka/mobile/film-4m-2x.webp 2x
            "
            media="(max-width: 767px)"
            type="image/webp"
          />
          <source
            srcset="
              ./images/filmoteka/mobile/film-4m-1x.jpg 1x,
              ./images/filmoteka/mobile/film-4m-2x.jpg 2x
            "
            media="(max-width: 767px)"
          />

          <img
            class="gallery-poster-img"
            src="./images/filmoteka/mobile/film-4m-1x.jpg"
            alt="movie poster"
            loading="lazy"
          />
        </picture>
      </div>
      <h2 class="gallery-poster-title">LITTLE WOMEN</h2>
      <p class="gallery-poster-text">
        Drama<span class="date-befor">2019</span>
      </p>
    </div>

    <div class="gallery-poster-box">
      <div class="gallery-poster">
        <picture>
          <source
            srcset="
              ./images/filmoteka/desktop/film-5d-1x.webp 1x,
              ./images/filmoteka/desktop/film-5d-2x.webp 2x
            "
            media="(min-width: 1200px)"
            type="image/webp"
          />
          <source
            srcset="
              ./images/filmoteka/desktop/film-5d-1x.jpg 1x,
              ./images/filmoteka/desktop/film-5d-2x.jpg 2x
            "
            media="(min-width: 1200px)"
          />
          <source
            srcset="
              ./images/filmoteka/tablet/film-5t-1x.webp 1x,
              ./images/filmoteka/tablet/film-5t-2x.webp 2x
            "
            media="(min-width: 768px)"
            type="image/webp"
          />
          <source
            srcset="
              ./images/filmoteka/tablet/film-5t-1x.jpg 1x,
              ./images/filmoteka/tablet/film-5t-2x.jpg 2x
            "
            media="(min-width: 768px)"
          />
          <source
            srcset="
              ./images/filmoteka/mobile/film-5m-1x.webp 1x,
              ./images/filmoteka/mobile/film-5m-2x.webp 2x
            "
            media="(max-width: 767px)"
            type="image/webp"
          />
          <source
            srcset="
              ./images/filmoteka/mobile/film-5m-1x.jpg 1x,
              ./images/filmoteka/mobile/film-5m-2x.jpg 2x
            "
            media="(max-width: 767px)"
          />

          <img
            class="gallery-poster-img"
            src="./images/filmoteka/mobile/film-5m-1x.jpg"
            alt="movie poster"
            loading="lazy"
          />
        </picture>
      </div>
      <h2 class="gallery-poster-title">AQUARELA</h2>
      <p class="gallery-poster-text">
        Documentary, Drama, Other<span class="date-befor">2019</span>
      </p>
    </div>

    <div class="gallery-poster-box">
      <div class="gallery-poster">
        <picture>
          <source
            srcset="
              ./images/filmoteka/desktop/film-6d-1x.webp 1x,
              ./images/filmoteka/desktop/film-6d-2x.webp 2x
            "
            media="(min-width: 1200px)"
            type="image/webp"
          />
          <source
            srcset="
              ./images/filmoteka/desktop/film-6d-1x.jpg 1x,
              ./images/filmoteka/desktop/film-6d-2x.jpg 2x
            "
            media="(min-width: 1200px)"
          />
          <source
            srcset="
              ./images/filmoteka/tablet/film-6t-1x.webp 1x,
              ./images/filmoteka/tablet/film-6t-2x.webp 2x
            "
            media="(min-width: 768px)"
            type="image/webp"
          />
          <source
            srcset="
              ./images/filmoteka/tablet/film-6t-1x.jpg 1x,
              ./images/filmoteka/tablet/film-6t-2x.jpg 2x
            "
            media="(min-width: 768px)"
          />
          <source
            srcset="
              ./images/filmoteka/mobile/film-6m-1x.webp 1x,
              ./images/filmoteka/mobile/film-6m-2x.webp 2x
            "
            media="(max-width: 767px)"
            type="image/webp"
          />
          <source
            srcset="
              ./images/filmoteka/mobile/film-6m-1x.jpg 1x,
              ./images/filmoteka/mobile/film-6m-2x.jpg 2x
            "
            media="(max-width: 767px)"
          />

          <img
            class="gallery-poster-img"
            src="./images/filmoteka/mobile/film-6m-1x.jpg"
            alt="movie poster"
            loading="lazy"
          />
        </picture>
      </div>
      <h2 class="gallery-poster-title">DAVID CROSBY: REMEMBER MY NAME</h2>
      <p class="gallery-poster-text">
        Documentary, Drama, Other<span class="date-befor">2019</span>
      </p>
    </div> -->
  </div>
</section>
