<section class="pagination">
  <div class="container">
    <div class="pagination__list">
      <span class="pagination__button_arrow pagination__button">
        <svg class="pagination__svg" width="24" height="24">
          <use href="./images/svg/symbol-defs.svg#icon-arrow-left"></use>
        </svg>
      </span>
      <button class="pagination__button pagination__button_limit">1</button>
      <span class="pagination__space">
        <span class="pagination__space-text">...</span>
      </span>
      <button class="pagination__button">14</button>
      <button class="pagination__button">15</button>
      <button class="pagination__button pagination__button_current">16</button>
      <button class="pagination__button">17</button>
      <button class="pagination__button">18</button>
      <span class="pagination__space">
        <span class="pagination__space-text">...</span>
      </span>
      <button class="pagination__button pagination__button_limit">20</button>
      <button class="pagination__button_arrow pagination__button">
        <svg class="pagination__svg" width="24" height="24">
          <use href="./images/svg/symbol-defs.svg#icon-arrow-right"></use>
        </svg>
      </button>
    </div>
  </div>
</section>
